{% extends 'base.html.twig' %}

{% block title %}Nowy artykuł{% endblock %}

{% block body %}
    <h1>Utwórz artykuł</h1>
    <a class="btn btn-info" href="{{ path('news_index') }}">Powrót do listy</a>
    {{ include('news/_form.html.twig') }}


{% endblock %}
{% block javascripts %}

    {{ parent() }}


{% endblock %}
